---
import "@/styles/globals.css";

import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Omnitria | Contact us">
  <div class="bg-white dark:bg-black">
    <div class="mx-auto max-w-7xl py-12 sm:px-6 sm:py-16 lg:px-8">
      <div
        class="relative isolate overflow-hidden bg-black dark:bg-zinc-800 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
      >
        <svg
          viewBox="0 0 1024 1024"
          class="absolute left-1/2 top-1/2 -z-10 size-[64rem] -tranzinc-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-tranzinc-x-1/2 lg:tranzinc-y-0"
          aria-hidden="true"
        >
          <circle
            cx="512"
            cy="512"
            r="512"
            fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
            fill-opacity="0.7"></circle>
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
              <stop stop-color="#7775D6"></stop>
              <stop offset="1" stop-color="#f8fafc"></stop>
            </radialGradient>
          </defs>
        </svg>
        <div
          class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
        >
          <h2
            class="text-balance text-3xl font-semibold tracking-tight text-zinc-50 dark:text-zinc-50 sm:text-4xl"
          >
            Turn Your Vision into Reality with Omnitria
          </h2>
          <p
            class="mt-6 text-pretty text-lg/8 text-zinc-300 dark:text-zinc-400"
          >
            Contact us today to explore how our expertise can transform your
            vision into a powerful tool that drives success.
          </p>
          <div
            class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
          >
            <a
              href="mailto:hi@omnitria.com"
              target="_blank"
              class="rounded-md bg-zinc-50 dark:bg-zinc-700 px-3.5 py-2.5 text-sm font-semibold text-zinc-900 dark:text-zinc-50 shadow-sm hover:bg-zinc-100 dark:hover:bg-zinc-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-50 dark:focus-visible:outline-zinc-700"
              >Let's Talk</a
            >
            <a
              href="https://www.linkedin.com/company/105543636/admin/dashboard/"
              target="_blank"
              class="text-sm/6 font-semibold text-zinc-50 dark:text-zinc-50"
              >Discover Our Approach <span aria-hidden="true">→</span></a
            >
          </div>
        </div>
        <div class="relative mt-16 h-80 lg:mt-8">
          <Image
            class="absolute left-0 top-0 w-[57rem] max-w-none rounded-md bg-zinc-100 dark:bg-zinc-800 ring-1 ring-zinc-200 dark:ring-zinc-700"
            src="https://res.cloudinary.com/dldo1zcgz/image/upload/v1731886948/contact_omnitria_bg16lp.webp"
            alt="Omnitria application development project showcasing user-friendly interface"
            width={1140}
            height={720}
            loading={"eager"}
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
