---
import "@/styles/globals.css";

import Layout from "@/layouts/Layout.astro";
import FirstSection from "@/components/home/FirstSection.astro";
import SecondSection from "@/components/home/SecondSection.astro";
import ThirdSection from "@/components/home/ThirdSection.astro";
import FourthSection from "@/components/home/FourthSection.astro";
---

<Layout title="Onmitria">
  <main>
    <div data-aos="fade-up" data-aos-delay="150">
      <FirstSection />
    </div>
    <div data-aos="fade-up" data-aos-delay="150">
      <SecondSection />
    </div>
    <div data-aos="fade-up" data-aos-delay="150">
      <ThirdSection />
    </div>
    <div data-aos="fade-up" data-aos-delay="150">
      <FourthSection />
    </div>
  </main>
</Layout>
