---

---

<div class="bg-white dark:bg-zinc-900">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-3xl py-8 sm:py-12 lg:py-14">
      <!-- Barra de mensaje -->
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div
          class="relative rounded-full px-3 py-1 text-sm/6 text-zinc-700 dark:text-zinc-400 ring-1 ring-zinc-300 dark:ring-zinc-600 hover:ring-zinc-400 dark:hover:ring-zinc-500"
        >
          Discover the future of digital innovation.
          <a
            href="https://www.linkedin.com/company/105543636/admin/dashboard/"
            target="_blank"
            class="font-semibold text-zinc-900 dark:text-zinc-100"
          >
            <span class="absolute inset-0" aria-hidden="true"></span>
            See how we grow
            <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

      <!-- Título y descripción -->
      <div class="text-center">
        <h1
          class="text-balance text-5xl font-semibold tracking-tight text-zinc-900 dark:text-zinc-50 sm:text-7xl"
        >
          Transforming Ideas into Digital Experiences
        </h1>
        <p
          class="mt-8 text-lg font-medium text-zinc-700 dark:text-zinc-400 sm:text-xl/8"
        >
          We craft high-performance web and mobile applications designed to
          elevate your business. Join us to turn complex problems into elegant
          digital solutions.
        </p>

        <!-- Botones -->
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            href="/contact"
            class="rounded-md bg-zinc-600 dark:bg-zinc-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-500 dark:hover:bg-zinc-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-600 dark:focus-visible:outline-zinc-500"
          >
            Start Your Project
          </a>
          <a
            href="/why-choose-us"
            class="text-sm/6 font-semibold text-zinc-900 dark:text-zinc-50"
          >
            Why Choose Us?
            <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>