---
import { Image } from "astro:assets";
---

<div class="bg-white py-12 sm:py-16">
  <div class="mx-auto max-w-3xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-center text-base/7 font-semibold text-neutral-600">
      Omnitria
    </h2>
    <p
      class="mx-auto mt-2 max-w-3xl text-balance text-center text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl"
    >
      Everything You Need to Launch Your Web and Mobile Applications
    </p>
    <div
      class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2"
    >
      <div class="relative lg:col-span-3">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]"
        >
          <Image
            class="h-80 object-cover object-left"
            src="https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736948/digital-transformation-1_ljeksq.png"
            alt="Omnitria Digital Transformation - Custom Mobile App Solutions"
            width={600}
            height={500}
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-neutral-600">
              Digital Transformation
            </h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Custom App and Direct Connection
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              We turn your vision into a personalized app that connects directly
              with your customers on their mobile devices.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-tr-[2rem]">
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]"
        >
          <Image
            class="h-80 object-cover object-left lg:object-right"
            src="https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736960/user-experience-2_p6g2ji.png"
            alt="Omnitria User Experience - Intuitive and Engaging App Design"
            width={600}
            height={500}
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-neutral-600">
              User Experience
            </h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Intuitive and Attractive Design
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              We design simple and functional interfaces that increase user
              satisfaction and loyalty.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-tr-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-bl-[2rem]">
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]"
        >
          <Image
            class="h-80 object-cover object-left"
            src="https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736950/performance-3_ovlefz.png"
            alt="Omnitria High Performance Apps - Fast Loading and Optimized Speed"
            width={500}
            height={500}
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-neutral-600">
              Performance
            </h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              High Performance and Speed
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              We develop apps optimized to load quickly and run smoothly on any
              device, maximizing user satisfaction.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-bl-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
        >
          <Image
            class="h-80 object-cover object-center"
            src="https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736969/compatibility-4_vpqhga.png"
            alt="Omnitria Compatibility - Cross-Platform App Updates for iOS and Android"
            width={500}
            height={500}
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-neutral-600">
              Compatibility
            </h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Continuous Updates and Compatibility
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              We make sure your app is always compatible with the latest
              versions of iOS and Android for stable operation.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]"
        >
          <Image
            class="h-80 object-cover object-center"
            src="https://res.cloudinary.com/dldo1zcgz/image/upload/v1731736963/security-5_bjhpiz.png"
            alt="Omnitria Security - Advanced Data Protection and User Privacy in Apps"
            width={500}
            height={500}
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-neutral-600">Security</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">
              Data Protection and Privacy
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              We implement advanced security protocols to protect your users’
              information and build trust in your brand.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
        >
        </div>
      </div>
    </div>
  </div>
</div>
