---
import { Image } from "astro:assets";
---

<div class="bg-white dark:bg-zinc-900">
  <div class="mx-auto max-w-7xl py-12 sm:px-2 sm:py-16 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="grid grid-cols-1 items-center gap-x-16 gap-y-10 lg:grid-cols-2">
        <div>
          <h2 class="text-4xl font-bold tracking-tight text-zinc-900 dark:text-zinc-50">
            We build web applications that drive results
          </h2>
          <p class="mt-4 text-zinc-700 dark:text-zinc-400">
            Our team is dedicated to creating high-quality web applications that
            elevate your business. With a commitment to transparency,
            efficiency, and seamless user experiences, we ensure that each
            project meets and exceeds client expectations.
          </p>
        </div>
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg bg-zinc-100 dark:bg-zinc-800">
          <Image
            src="https://res.cloudinary.com/dldo1zcgz/image/upload/v1731884343/WebApps_k5v9un.webp"
            alt="Illustration of Omnitria's web application development services for business growth"
            class="object-cover object-center"
            width={600}
            height={400}
            loading={"eager"}
          />
        </div>
      </div>
      <div class="mt-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="0.5"
              stroke="currentColor"
              class="size-16 text-zinc-600 dark:text-zinc-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605"
              ></path>
            </svg>
          </div>
          <div class="mt-4 sm:ml-6 sm:mt-0 lg:ml-0 lg:mt-6">
            <h3 class="text-sm font-medium text-zinc-900 dark:text-zinc-50">
              Tailor-made and Scalable Solutions
            </h3>
            <p class="mt-2 text-sm text-zinc-700 dark:text-zinc-400">
              We create applications that grow with your business and adapt to
              your needs.
            </p>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="0.5"
              stroke="currentColor"
              class="size-16 text-zinc-600 dark:text-zinc-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              ></path>
            </svg>
          </div>
          <div class="mt-4 sm:ml-6 sm:mt-0 lg:ml-0 lg:mt-6">
            <h3 class="text-sm font-medium text-zinc-900 dark:text-zinc-50">
              Optimal User Experience
            </h3>
            <p class="mt-2 text-sm text-zinc-700 dark:text-zinc-400">
              We develop intuitive platforms to build loyalty among your users.
            </p>
          </div>
        </div>
        <div class="sm:flex lg:block">
          <div class="sm:shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="0.5"
              stroke="currentColor"
              class="size-16 text-zinc-600 dark:text-zinc-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
              ></path>
            </svg>
          </div>
          <div class="mt-4 sm:ml-6 sm:mt-0 lg:ml-0 lg:mt-6">
            <h3 class="text-sm font-medium text-zinc-900 dark:text-zinc-50">
              Advanced Technology and Total Security
            </h3>
            <p class="mt-2 text-sm text-zinc-700 dark:text-zinc-400">
              We use the latest technology to guarantee an agile and secure
              application.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>